module zabbix_sudo 1.0;

require {
        type sudo_exec_t;
        type zabbix_agent_t;
        class file { execute execute_no_trans };
}
#
##============= zabbix_agent_t ==============
allow zabbix_agent_t sudo_exec_t:file execute_no_trans;
allow zabbix_agent_t sudo_exec_t:file execute;

